*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}
html, body {
  background-repeat: no-repeat;
  background-position: center;
}
:root {
  --title: 'Merienda', cursive;
  --subtitle: 'Libre Baskerville', serif;
  --paragraph: 'PT Sans Narrow', sans-serif;
  --white: hsla(0, 100%, 100%, 1);
  --black: hsla(0, 0%, 0%, 1);
  --blue: hsla(211, 72%, 62%, 1);
  --pink: hsla(348, 56%, 70%, 1);
  --purple: hsla(284, 54%, 62%, 1);
  --background: linear-gradient(100deg, rgba(79, 79, 79, 0.07) 0%, rgba(79, 79, 79, 0.07) 50%,rgba(131, 131, 131, 0.07) 50%, rgba(131, 131, 131, 0.07) 100%),linear-gradient(88deg, rgba(197, 197, 197, 0.03) 0%, rgba(197, 197, 197, 0.03) 50%,rgba(184, 184, 184, 0.03) 50%, rgba(184, 184, 184, 0.03) 100%),linear-gradient(29deg, rgba(211, 211, 211, 0.03) 0%, rgba(211, 211, 211, 0.03) 50%,rgba(4, 4, 4, 0.03) 50%, rgba(4, 4, 4, 0.03) 100%),linear-gradient(162deg, rgba(128, 128, 128, 0.1) 0%, rgba(128, 128, 128, 0.1) 50%,rgba(43, 43, 43, 0.1) 50%, rgba(43, 43, 43, 0.1) 100%),linear-gradient(221deg, rgba(251, 251, 251, 0.02) 0%, rgba(251, 251, 251, 0.02) 50%,rgba(191, 191, 191, 0.02) 50%, rgba(191, 191, 191, 0.02) 100%),linear-gradient(176deg, rgba(74, 74, 74, 0.07) 0%, rgba(74, 74, 74, 0.07) 50%,rgba(198, 198, 198, 0.07) 50%, rgba(198, 198, 198, 0.07) 100%),linear-gradient(236deg, rgba(234, 234, 234, 0.03) 0%, rgba(234, 234, 234, 0.03) 50%,rgba(72, 72, 72, 0.03) 50%, rgba(72, 72, 72, 0.03) 100%),linear-gradient(115deg, rgba(87, 87, 87, 0.08) 0%, rgba(87, 87, 87, 0.08) 50%,rgba(145, 145, 145, 0.08) 50%, rgba(145, 145, 145, 0.08) 100%),linear-gradient(90deg, rgb(23, 169, 215),rgb(236, 81, 93));
}
